@charset "UTF-8";

.form-check-input[type=checkbox].filled-in:checked+label:after, 
label.btn input[type=checkbox].filled-in:checked+label:after {
  border: 2px solid black;
  background-color: black;
}
.mb-4-5 {
  margin-bottom: 24px;
}